@import "ress";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ITC Benguiat W01';
  src: url('../../font/itc-benguiat-bold.otf') format("opentype");
}

/* @font-face {
  font-family: 'Train One';
  src: url('../../font/TrainOne-Regular.ttf') format("woff");
} */

@font-face {
  font-family: 'Neon';
  src: url('../../font/neon.otf') format("opentype");
}

.font-neon {
  font-family: 'Neon'
}